.main-tagline.text-center
  %h1 JT Bowler
  %br
  %h3
    I enjoy making music and playing with the web.
.cards
  #portfolio.card
    %h4.text-center Portfolio
    %ul
      %li= link_to 'ChalkSchools', 'http://www.chalkschools.com', target: '_blank'
      %li= link_to 'Self Taught Music', 'http://selftaughtmusic.com', target: '_blank'
      %li More to come...
  #blog.card
    %h4.text-center Blog
    .blog-article= link_to 'Delegation in JavaScript', blog_index_path(post: 'delegator')
    .blog-article= link_to 'Spies for Testing', blog_index_path(post: 'spy')
    .blog-article= link_to 'Publisher Subscribe in Ruby', blog_index_path(post: 'publisher_subscribe')
    .blog-article More to come...
  #music.card
    %h4.text-center My Music
    %ul
      %li= link_to 'SoundCloud', 'http://www.soundcloud.com/bowlah', target: '_blank'
      %li= link_to 'Pure Volume', 'http://www.purevolume.com/jtbowler', target: '_blank'
      %li= link_to 'The Release', 'http://www.thereleasesf.com', target: '_blank'
