.main-tagline.text-center
  %h1 JT Bowler
  %br
  %h3
    I enjoy making music and playing with the web.
.cards
  #portfolio.card
    %h4.text-center Portfolio
    %ul
      %li= link_to 'ChalkSchools', 'http://www.chalkschools.com', target: '_blank'
      %li= link_to 'Self Taught Music', 'http://selftaughtmusic.com', target: '_blank'
      %br
      More to come...
  #blog.card
    %h4.text-center Blog
    %ul
      %li= link_to 'Delegation (JavaScript)', blog_index_path(post: 'delegator')
      %li= link_to 'Spies for Testing (JavaScript)', blog_index_path(post: 'spy')
      %li= link_to 'Delegation (Ruby)', blog_index_path(post: 'delegate')
      %li= link_to 'Publish Subscribe (Ruby)', blog_index_path(post: 'publisher_subscribe')
      %li= link_to 'Getters and Setters (Ruby)', blog_index_path(post: 'getters_and_setters')
    %br
    More to come...
  #music.card
    %h4.text-center My Music
    %ul
      %li= link_to 'SoundCloud', 'http://www.soundcloud.com/bowlah', target: '_blank'
      %li= link_to 'Pure Volume', 'http://www.purevolume.com/jtbowler', target: '_blank'
      %li= link_to 'The Release', 'http://www.thereleasesf.com', target: '_blank'
