.row
  .col-md-12
    %h3 JavaScript Snippets
    %br
    %ul
      %li= link_to 'Delegator Pattern', blog_index_path(lang: 'js', post: 'delegate')
      %li= link_to 'Spies for Testing', blog_index_path(lang: 'js', post: 'spy')
      %li= link_to 'Functional Programming', blog_index_path(lang: 'js', post: 'functional_programming')
%br
.row
  .col-md-12
    %h3 Ruby Snippets
    %br
    %ul
      %li= link_to 'Delegator Pattern', blog_index_path(lang: 'ruby', post: 'delegate')
      %li= link_to 'Observer Pattern', blog_index_path(lang: 'ruby', post: 'publisher_subscribe')
      %li= link_to 'Getters and Setters', blog_index_path(lang: 'ruby', post: 'getters_and_setters')
%hr
.row
  .col-md-12
    %span.disclaimer Disclaimer: &nbsp;
    This code isn't particularly groundbreaking, but I'd like to keep a reference to things I've experimented with.
